* {
    box-sizing: border-box;
}

body {
    background-color: #030303;
    margin: 0;
}
header{
    display: flex;
    background-color: #363636;
}

h1{
    color: whitesmoke;
    align-self: center;
    margin-left: 28rem;
}

h3{
    color: whitesmoke;
    margin: 3rem;
    margin-left: 12rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
}
